.ModalTitle{
    color:#23aaeb;
    
}

.FieldTitle{
    color:#23aaeb;
    font-weight: bold;
}

.save-btn{
   background-color: #23aaeb !important;
}
.cancel-btn{
    background-color: #ff6a6a !important;
}